<form method="POST" class="d-block ajaxForm" action="/users/contact">
    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="email">
                {{trs 'recovery email'}}
            </label>
            <input type="email" placeholder="{{trs 'recovery email'}}" class="form-control" id="email" name="email" required>
            <small id="" class="form-text text-muted">
                {{trs 'provide'}} {{trs 'recovery email'}}
            </small>
        </div>
        <div class="form-group col-md-2">
            <label for="send">
                {{trs 'send code'}}
            </label>
            <a class="btn btn-block btn-success" href="#">
                <i class="mdi mdi-send" style="font-weight: 600;"></i>
            </a>
            <small id="" class="form-text text-muted">
                click to send code.
            </small>
        </div>
        <div class="form-group col-md-4">
            <label for="code">
                {{trs 'code'}}
            </label>
            <input type="number" placeholder="{{trs 'verification code'}}" class="form-control" id="verification"
                name="verification">
            <small id="" class="form-text text-muted">
                {{trs 'paste code from email'}}
            </small>
        </div>
        <div class="form-group col-md-2">
            <label for="code">
                {{trs 'verify'}}
            </label>
            <a class="btn btn-block btn-info" href="#">
                <i class="mdi mdi-update" style="font-weight: 600;"></i> {{trs 'verify'}}
            </a>
            <small id="" class="form-text text-muted">
                click <a href="#">here</a> to resend code.
            </small>
        </div>

        <div class="form-group mt-2 col-md-6">
            <button class="btn btn-block btn-info" type="submit">
                <i class="mdi mdi-save" style="font-weight: 600;"></i> {{trs 'save'}}
            </button>
        </div>
        <div class="form-group mt-2 col-md-6">
            <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                cancel
            </button>
        </div>
    </div>
</form>
<script>
    addAddress(); 
</script>