<form method="POST" class="d-block roleForm" action="{{action.role}}">
    <div class="form-row">
        {{#ifEquals viewManager.role.role 'superadmin'}}
        <div class="form-group col-md-6 offset-2">
            <label for="roleId">
                {{trs 'role'}}
            </label>
            <select name="roleId" id="roleId" class="form-control select2" data-toggle="select2">
                <option value="" disabled selected>select role
                </option>
                {{#each roles}}
                {{#ifEquals id ../user.roles.0.role.id}}
                <option value="{{id}}" selected>{{role}}</option>
                {{else}}
                <option value="{{id}}">{{role}}</option>
                {{/ifEquals}}
                {{/each}}
            </select>
        </div>
        {{else}}

        <div class="form-group col-md-6 offset-2">
            <label for="roleId">
                {{trs 'role'}}
            </label>
            <select name="roleId" id="roleId" class="form-control select2" data-toggle="select2">
                <option value="" disabled selected>select role
                </option>

                {{#each roles}}
                {{#ifEquals 'superadmin' ../user.roles.0.role}}
                <option value="{{id}}" disabled>{{name}}</option>
                {{else}}

                {{#ifEquals 'admin' ../user.roles.0.role}}
                <option value="{{id}}" disabled>{{name}}</option>
                {{else}}
                {{#ifEquals id ../user.roles.0.role.id}}
                <option value="{{id}}" selected>{{name}}</option>
                {{else}}
                <option value="{{id}}">{{name}}</option>
                {{/ifEquals}}
                {{/ifEquals}}
                <option value="{{id}}">{{name}}</option>
                {{/ifEquals}}

                {{/each}}
            </select>
        </div>
        {{/ifEquals}}
        <div class="form-group col-md-2">
            <label for="send">
                {{trs 'assign role'}}
            </label>
            <a class="btn btn-block btn-info" href="#">
                <i class="mdi mdi-account-cog" style="font-size: large;"></i>
            </a>
            <small id="" class="form-text text-muted">
                click to assign role.
            </small>
        </div>
    </div>
</form>

<form method="POST" class="d-block emailPasswordForm" action="{{action.password}}">
    <div class="form-row">
        <div class="form-group col-md-6 offset-2">
            <label for="email">
                {{trs 'email'}}
            </label>
            <input type="email" placeholder="{{trs 'email'}}" value="{{user.contacts.0.email}}" class="form-control"
                id="email" name="email" required>
            <small id="" class="form-text text-muted">
                {{trs 'provide'}} {{trs 'your email'}}
            </small>
        </div>
        <div class="form-group col-md-2">
            <label for="send">
                {{trs 'send link'}}
            </label>
            <a class="btn btn-block btn-success" href="#">
                <i class="mdi mdi-send" style="font-weight: 600;"></i>
            </a>
            <small id="" class="form-text text-muted">
                click to send link.
            </small>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#roleId').select2({
            dropdownParent: $('#large-modal')
        });
    });
</script>