<!--title-->
<script src="{{cdn 'public'}}/js/select2.min.js"></script>
<div class="row ">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title">
          <i class="mdi mdi-account-child-circle text-info title_icon"></i> {{trs 'all employees'}}
          <button type="button" class="btn btn-outline-info btn-rounded alignToTitle"
            onclick="largeModal('/employees/create', ' {{trs " create"}} {{trs "employee"
            }}', 'mdi mdi-account-plus text-info' )">
            <span style="font-size: medium;"><i class="mdi mdi-plus"></i> {{trs 'create'}} {{trs 'employee'}}</span>
          </button>
        </h4>
      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>

<div class="row">
  <div class="col-12">
    <div class="user_content">
    </div>
  </div>
</div>

<script>

  $(document).ready(() => {
    showAllEmployees();
  });

  var showAllEmployees = function () {
    var url = '/employees/list';

    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        console.log('response', response)
        $('.user_content').html(response);
        //initDataTable('basic-datatable1');
      }
    });
  }
</script>